<nav class="navbar">
  <div class="octocat-home">
    <a class="nav-thumb" href="/">
      <img class="octocat" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" >
    </a>
  </div>
    <div class="login">
      <% if current_user %>
      <%= link_to image_tag(current_user.avatar_url, class: 'user-thumbnail'), "/#{current_user.username}" %>
      <% else %>
      <%= link_to "Login With Github", github_login_path %>
      <% end %>
    </div>
  </nav>
